@using Kendo.Mvc.UI
@model CDT.Cosmos.Cms.Models.LayoutIndexViewModel

@{
    ViewData["Title"] = "EditNotes";
    Layout = "_Layout";

}

<h1>Layout Details</h1>

<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditNotes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="IsDefault"/>
            <div class="form-group form-check">
                @if (Model.IsDefault)
                {
                    <div class="btn btn-primary">Is Default Layout</div>
                }
                else
                {
                    <div class="btn btn-secondary">Is Not Default Layout</div>
                }
            </div>
            <div class="form-group">
                <label asp-for="LayoutName" class="control-label"></label>
                <input asp-for="LayoutName" class="form-control"/>
                <span asp-validation-for="LayoutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                @{
                    @* Make sure tag helpers are not available for the Editor content *@
                    @removeTagHelper "*, Microsoft.AspNet.Mvc.Razor"
                    @removeTagHelper "*, Microsoft.AspNetCore.Mvc.Razor"
                    @(Html.Kendo().EditorFor(m => m.Notes)
                        .Tools(tools => tools
                            .Clear()
                            .Bold().Italic().Underline()
                            .JustifyLeft().JustifyCenter().JustifyRight()
                            .InsertUnorderedList().InsertOrderedList()
                            .Outdent().Indent()
                            .CreateLink().Unlink()
                            .InsertImage()
                            .TableEditing()
                            .FontName()
                            .FontSize()
                        ))
                }
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }