@using Kendo.Mvc.UI
@model CDT.Cosmos.Cms.Models.LayoutIndexViewModel

@{
    ViewData["Title"] = "Set Default Layout";
    Layout = "_Layout";

}

<div class="row">
    <div class="col-md-8">
        <div class="card bg-secondary text-light">
            <div class="card-header">
                <h2 class="card-title">Set Default Layout</h2>
            </div>
            <div class="card-body">
                <p>Layout selected:</p>
                <div class="bg-dark" style="padding: 8px; width: 100%;">
                    <div class="h2">@Model.LayoutName</div>
                </div>
                <br/><br/>
                <p>Please note:</p>
                <ul>
                    <li>
                        Setting this as the default layout will change how your
                        entire website looks.
                        <ul>
                            <li>
                            Changing layouts may cause errors on pages that need to be fixed.
                            <li><span class="badge badge-info">Tip:</span> Have a clone of your website made where you can test the layout change.</li>
                        </ul>
                    </li>
                    <li>
                        Depending how many pages you have on your website, this may take a while.
                        <ul>
                            <li>Please be patient until the process completes.</li>
                            <li><span class="badge badge-info">Tip:</span> Closing this page before completion is highly inadvisable.</li>
                        </ul>
                    </li>

                    <li>
                        After the new layout is applied, you will taken to the site publishing page.
                        <ul>
                            <li>Publishing is required to ensure changes are pushed throughout the Internet.</li>
                        </ul>
                    </li>

                    <li>
                        You can always roll back to the previous layout by making it the default.
                    </li>
                </ul>
                <form asp-action="SetLayoutAsDefault">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="Notes"/>
                    <input type="hidden" asp-for="LayoutName"/>
                    <input type="hidden" asp-for="Notes"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group form-check">
                        <label>Enable layout change:</label>
                        @(Html.Kendo().SwitchFor(m => m.IsDefault)
                            .Events(ev => ev.Change("onChange"))
                            .Messages(c => c.Checked("Yes").Unchecked("No"))
                            )
                        <br/>
                    </div>
                    <div id="lblWarning" class="form-group" style="display: none">
                        <p><span class="badge badge-danger">WARNING!</span> Set default is activated.</p>
                        <p>
                            <span class="badge badge-warning">PLEASE NOTE:</span>
                        </p>
                        <ul>
                            <li> Do not close this web browser until the process completes.</li>
                            <li> When done, you will automatically be taken to the publish website page.</li>
                            <li> To see changes right away, publish the site.</li>
                        </ul>
                        <br/>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-primary">Cancel Action</a> &nbsp;&nbsp;&nbsp;
                        <input id="btnSubmit" type="submit" value="Set default layout" class="btn btn-primary" style="display: none"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    function onChange(e) {
        if (e.checked) {
            $("#btnSubmit").show();
            $("#lblWarning").show();
            $("#reset").val("true");
        } else {
            $("#reset").val("false");
            $("#btnSubmit").hide();
            $("#lblWarning").hide();
        }
    }
</script>