@using Kendo.Mvc.UI
@model SelectListItem
@(Html.Kendo().ComboBoxFor(m => m)
    .Template("<span style='min-width:200px'>#: data.Title # (#: data.UrlPath #)</span>")
    .HtmlAttributes(new {style = "width: 100%"})
    .Placeholder("Type URL or select a page")
    .DataTextField("Title")
    .DataValueField("UrlPath")
    .HtmlAttributes(new { style = "width:100%;" })
    .Filter(FilterType.Contains)
    .AutoBind(false)
    .MinLength(2)
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("Get_PagesAndUrls", "Editor");
        })
            .ServerFiltering(true);
    })
    )