@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Identity
@model List<UserItemViewModel>
@{
    ViewData["Title"] = "Index";
}

<main class="main-primary">
    <div class="container">
        <a class="btn btn-sm btn-primary" asp-action="Index">User List</a>
        @(Html.Kendo().Grid<UserItemViewModel>().Name("grid")
            .BindTo(Model)
            .Columns(col =>
            {
                col.Bound(b => b.Id).Hidden();
                col.Bound(b => b.Selected);
                col.Bound(b => b.Email);
                col.Bound(b => b.EmailConfirmed);
                col.Bound(b => b.PhoneNumber);
            })
            .ToolBar(toolbar => {
                toolbar.Save();
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Pageable()
            .Navigatable()
            .Sortable()
            .Scrollable()
            .Events(events => events.Sort("onSort"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(20)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler"))
                .Model(model =>
                {
                    model.Id(p => p.Id);
                    model.Field(f => f.Email).Editable(false);
                })
                .Read("Read_Users", "Users", new { IroleNamed = ViewData["RoleId"] })
                .Update("Users_Update", "Users", new { roleName = ViewData["RoleId"] })
            ))
    </div>
</main>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors,
                function(key, value) {
                    if ('errors' in value) {
                        $.each(value.errors,
                            function() {
                                message += this + "\n";
                            });
                    }
                });
            alert(message);
        }
    }

    // Prevent sorting when new record without Product Name is added
    function onSort(e) {
        var gridData = e.sender.dataSource.data();
        gridData.forEach(function(element) {
            if (!element.Name) {
                e.preventDefault();
            }
        });
    }

</script>