@{
    Html.ViewContext.ViewBag.BrowserTitle = "Access Pending";
}

<div class="section">
    <div class="container">
        <div class="description">
            <div class="col-md-6">

                <h1>Access Pending</h1>

                <p>Greetings,</p>
                <p>You have successfully signed up for an account, but an administrator has yet to grant you access to use this website.</p>
                <p>Thank you for your patients.</p>
                <p>-The Staff</p>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>