@model EditCodePostModel
@addTagHelper *, Kendo.Mvc
@{
    Layout = "_CodeEditorLayout";
    ViewData["Title"] = Model.EditorTitle;
}

<form id="codeForm" asp-action="EditCode">
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="EditingField"/>
    <input type="hidden" asp-for="Content"/>
    <input type="hidden" asp-for="HeaderJavaScript"/>
    <input type="hidden" asp-for="FooterJavaScript"/>
</form>

<script>
    function btnCustomClick(e) {
        switch (e.target.text()) {
        case "Preview":
            // Open in new window.
            window.open("@Url.Action("Preview", "Home", new {Model.Id})");
            break;
        case "Html":
            $("#htmlEditorDialog").data("kendoDialog").open();
            break;
        case "Versions":
            $("#versionsDialog").data("kendoDialog").open();
            break;
        case "Help":
                window.open("https://cosmos.azureedge.net/edit_page#CodeEditor");
            break;
        }
    }

    function closeEditor() {
        window.location.href = "@Url.Action("Versions", "Editor", new {Id = Model.ArticleNumber})";
    }

    function htmlEditor() {
        window.location.href = "@Url.Action("Edit", "Editor", new {Model.Id})";
    }

    function goVersions() {
        window.location.href = "@Url.Action("Versions", "Editor", new {Id = Model.ArticleNumber})";
    }
</script>

<kendo-dialog name="htmlEditorDialog" title="Edit Code" modal="true" visible="false" min-width="500">
    <content>
        <p>You are about to leave this page.</p>
        <p><span class="badge badge-warning">Warning:</span> Any unsaved changes will be lost!</p>
    </content>
    <actions>
        <action text="Cancel">
        </action>
        <action action="htmlEditor" primary="true" text="Yes" title="Confirm">
        </action>
    </actions>
    <popup-animation>
        <open duration="500" effects="fade:in"/>
        <close duration="500" effects="fade:out"/>
    </popup-animation>
</kendo-dialog>
<kendo-dialog name="versionsDialog" title="Versions" modal="true" visible="false" min-width="500">
    <content>
        <p>You are about to leave this page.</p>
        <p><span class="badge badge-warning">Warning:</span> Any unsaved changes will be lost!</p>
    </content>
    <actions>
        <action text="Cancel">
        </action>
        <action action="goVersions" primary="true" text="Yes" title="Confirm">
        </action>
    </actions>
    <popup-animation>
        <open duration="500" effects="fade:in"/>
        <close duration="500" effects="fade:out"/>
    </popup-animation>
</kendo-dialog>