@using Kendo.Mvc.UI
@{
    Layout = "_Layout";
    ViewData["Title"] = "Page List";

    var versions = $"<a class=\"btn btn-sm btn-secondary\" href=\"{Url.Action("Versions", "Editor")}/#: ArticleNumber #\" title=\"Edit Article\"><span class='fa fa-edit'></span></a>";
    var copyUrl = "<button class=\"clipboard btn btn-sm btn-secondary\" data-clipboard-text=\"/#: UrlPath #\"  title='Click to copy url'><span class='fa fa-external-link'></span></button>";
    var btnGroup = "<div class=\"btn-group btn-group-sm\" role=\"group\" aria-label=\"Basic example\">#= getNewHomeButton(IsDefault, LastPublished, Id) #" +
                   versions + copyUrl + "#= getStatusBadge(LastPublished, ArticleNumber) #</div>";
}
<script src="~/js/clipboard.min.js"></script>
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-sm btn-primary" asp-action="Create">New Page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Grid<ArticleListItem>()
                    .Name("grid")
                    .Columns(col =>
                    {
                        col.Bound(b => b.Id).Hidden(true);

                        col.Template(btnGroup).Title("Menu");
                        col.Template("#= kendo.toString(resetAsUtc(Updated), 'G') #").Title("Last Updated");
                        col.Bound(b => b.Title).Width(260);
                        col.Bound(b => b.TeamName);
                        col.Command(com => com.Destroy().Text("Trash"));
                    })
                    .ToolBar(t =>
                    {
                        t.Custom().Text("<span id='timeZone'></span>");
                        t.Search();
                    })
                    .Pageable()
                    .Sortable()
                    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to trash this article?").CancelDelete("Do not trash article."))
                    .Filterable()
                    .Search(s => s.Field("Title"))
                    .DataSource(dataSource =>
                    {
                        dataSource.Ajax()
                            .Model(m => m.Id("Id"))
                            .Read(read => read.Action("Get_Articles", "Editor"))
                            .Destroy(trash => trash.Action("Trash_Article", "Editor"));
                    }))
                <form>
                    <input id="selected" type="hidden"/>
                </form>
                <script>
                    var clipboard = new ClipboardJS('.clipboard');
                    clipboard.on('success',
                        function(e) {
                            console.info('Action:', e.action);
                            console.info('Text:', e.text);
                            console.info('Trigger:', e.trigger);
                            alert("Copied: " + e.text);
                            e.clearSelection();
                        });

                    function getStatusBadge(published, articleNumber) {
                        if (published === null) {
                            return "<div class='btn btn-sm btn-secondary' style='width:120px'><span class='badge badge-light'>Not Published</span></div>";
                        }
                        var url = "@Url.Action("Versions", "Editor")/" + articleNumber;
                        return "<a title=\"Open versions of this page.\" class='btn btn-sm btn-primary' href=\"" + url + "\" style=\"width:120px\"><span class=\"badge badge-light\">" + kendo.toString(resetAsUtc(published), "G") + "</span></a>";
                    }

                    function getNewHomeButton(isDefault, published, id) {
                        if (isDefault === null || isDefault === false) {
                            if (published === null) {
                                return "<div onclick=\"clickAlert('This page cannot be made the home page until it is published.')\" class='btn btn-sm btn-warning' title='This page cannot be made the home page until it is published.'><span class='fa fa-check-circle'></span></div>";
                            }
                            return "<a href='@Url.Action("NewHome")/" + id + "' title='Set this page as the new home page.' class='btn btn-sm btn-secondary'><span class='fa fa-check-circle-o'></span></a>";
                        }
                        return "<div class='btn btn-sm btn-primary' title='Is now the home page for this website.'><span class='fa fa-check-circle'></span></div>";
                    }

                    function clickAlert(msg) {
                        alert(msg);
                    }

                    function resetAsUtc(inputDate) {
                        var dateString = kendo.toString(inputDate, "G") + " UTC";
                        var outputDate = new Date(dateString);
                        return outputDate;
                    }

                    $(document).ready(function() {
                        var datetime = new Date();
                        var dateTimeString = datetime.toString();
                        var timezone = dateTimeString.substring(dateTimeString.indexOf("(") - 1);
                        $("#timeZone").html(timezone);
                    });
                </script>
            </div>
        </div>
    </main>
</div>