@using Kendo.Mvc.UI
@{
    Layout = "_Layout";
    ViewData["Title"] = "Web Page Edit Logs";
    Html.ViewContext.ViewBag.BrowserTitle = "Article Logs";
}
<div id="main-content" class="main-content">
    <main class="main-primary">
        <div class="row">
            <div class="col-md-12">
                @(Html.Kendo().Grid<ArticleLogJsonModel>().Name("grid")
                    .Columns(column =>
                    {
                        column.Bound(b => b.DateTimeStamp);
                        column.Bound(b => b.Title);
                        column.Bound(b => b.ActivityNotes);
                        column.Bound(b => b.Email);
                    })
                    .ToolBar(t => t.Search())
                    .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new[] {10, 20, 100}))
                    .Sortable()
                    .Filterable()
                    .DataSource(dataSource => { dataSource.Ajax().Read("Read_Logs", "Editor").ServerOperation(false); })
                    )
            </div>
        </div>
    </main>
</div>